<h3>Termes et conditions</h3>
<p class="text-muted">
    En utilisant ce site Web, vous acceptez d'être lié par les conditions générales suivantes. Ces Termes et Conditions couvrent toutes les fonctionnalités présentes et futures fournies par votre compte ProtonMail (y compris, mais sans s'y limiter, ProtonMail, ProtonContacts, ProtonCalendar et ProtonDrive), individuellement et collectivement dénommées le «Service».

    Si vous acceptez ces Termes et Conditions au nom d'une entreprise ou d'une autre entité juridique, vous déclarez que vous avez le pouvoir de lier cette entité, ses affiliés et tous les utilisateurs qui accèdent au Service via votre compte à ces Termes et Conditions. En l'absence d'une telle autorité, vous ne pouvez pas utiliser le Service.</p>
