<h3>Utilisateurs du service</h3>
<p class="text-muted">Ce service est fourni exclusivement aux personnes âgées d'au moins 13 ans ou aux mineurs ayant obtenu le consentement de leurs parents ou tuteurs légaux pour ouvrir et maintenir un compte.

    Ce service est fourni exclusivement aux personnes. Les comptes enregistrés par des «robots» ou des méthodes automatisées ne sont pas autorisés et seront résiliés.
    
    Chaque utilisateur est seul responsable de tous ses messages envoyés via le Service.</p>
