<h3>Utilisation du service</h3>
<p class="text-muted">
    Vous acceptez de ne pas utiliser ce service pour des activités illégales ou interdites. Vous acceptez également de ne pas perturber les réseaux et serveurs de l'application ou de spammer tout utilisateur.
    
    Aux fins des présentes conditions générales, le spam se réfère aux messages non pertinents ou non sollicités envoyés sur Internet, généralement à un grand nombre d'utilisateurs, à des fins de publicité, de phishing, de propagation de logiciels malveillants ou de virus («spam»).
    
    Vous acceptez de ne pas utiliser le Service pour partager du contenu illégal.
        
    L'application' n'a aucune obligation de stocker ou de transmettre le contenu des messages.
    
    En raison de la nature cryptée du Service, vous reconnaissez que l'application n'a aucune capacité ou obligation de récupérer vos données, ou messages transmis.
    
    </p>
