<h3>Utilisation du service</h3>
<p class="text-muted">
    Vous acceptez de ne pas utiliser ce service pour des activités illégales ou interdites. Vous acceptez également de ne pas perturber les réseaux et serveurs de la Société.
    
    Aux fins des présentes conditions générales, le spam se réfère aux messages non pertinents ou non sollicités envoyés sur Internet, généralement à un grand nombre d'utilisateurs, à des fins de publicité, de phishing, de propagation de logiciels malveillants ou de virus («spam»).
    
    Vous acceptez de ne pas utiliser le Service pour envoyer des spams, des courriers indésirables, des e-mails en masse ou des e-mails de liste de diffusion contenant des personnes n'ayant pas spécifiquement accepté d'être incluses sur cette liste. Vous acceptez en outre de ne pas utiliser le Service pour stocker ou partager du contenu illégal.
    
    Tout compte qui envoie, stocke ou partage le type d'e-mails ou de contenu susmentionné sera immédiatement suspendu.
    
    Avoir plusieurs comptes gratuits est une utilisation acceptable du Service, à condition que cela soit fait de manière proportionnée et raisonnable (par exemple, les inscriptions en masse ou un grand nombre de comptes créés par une seule organisation ou personne ne sont pas considérées comme une utilisation raisonnable du service. ). Les comptes gratuits ne peuvent également être créés et gérés que par leurs utilisateurs effectifs (par exemple, il n'est pas acceptable de créer des comptes au nom de quelqu'un d'autre et de transférer ultérieurement les informations d'identification à ce tiers).
    
    La Société se réserve le droit de prendre des mesures contre tout compte gratuit considéré comme abusif à cet égard.
    
    Le trading ou la vente d'un compte ProtonMail à un tiers est interdit et la Société se réserve le droit de suspendre les comptes en infraction. Cette règle ne s'applique pas à nos comptes à vie, qui peuvent être vendus ou échangés exclusivement par l'intermédiaire de la société.
    
    Nous pouvons également résilier les comptes qui sont utilisés pour des activités illégales, en particulier en réponse à des ordonnances judiciaires des autorités compétentes nous informant d'une telle activité illégale.
    
    La Société n'a aucune obligation de stocker ou de transmettre le contenu des comptes résiliés. Nous n'avons également aucune obligation de stocker des messages ou des contenus pour des comptes qui dépassent leurs quotas de stockage.
    
    En raison de la nature cryptée du Service, vous reconnaissez que la Société n'a aucune capacité ou obligation de récupérer vos données si vous égarez votre mot de passe de décryptage.
    
    Bien que ce ne soit pas la pratique actuelle, nous nous réservons le droit de suspendre ou de supprimer les comptes inactifs depuis plus de trois mois. Les comptes payés avec le statut de paiement actif ne sont pas soumis à cette mesure.
    
    Garanties limitées et responsabilité
    La Société ne peut donner aucune garantie sur la fiabilité du Service ou garantir la sécurité des données des utilisateurs, malgré tous les efforts. Le Service est fourni «tel quel» et vous acceptez de ne pas tenir la Société responsable ni de demander une indemnisation pour tout dommage pouvant survenir à la suite de la perte d'utilisation, des données ou des bénéfices liés à la performance du Service ou de l'échec de une telle performance.
    
    En outre, vous ne tiendrez pas la société responsable ni ne demanderez d'indemnisation si des éléments confidentiels sont involontairement divulgués à la suite d'une défaillance de sécurité ou d'une vulnérabilité dans l'exécution du service.
    
    Nous pouvons apporter des améliorations et des modifications au Service à tout moment sans préavis. La Société peut, à sa seule discrétion, mettre fin au service sans motif ni préavis.
    </p>
