<h3>Termes et conditions</h3>
<p class="text-muted">
    En utilisant ce site Web, vous acceptez d'être lié par les conditions générales suivantes. Ces Termes et Conditions couvrent toutes les fonctionnalités présentes et futures.

    </p>
