<h3>Modification des conditions d'utilisation</h3>
<p class="text-muted">Dans les limites de la loi applicable, la Société se réserve le droit de réviser et de modifier cet accord à tout moment. Vous êtes responsable de la révision régulière de ces conditions générales. L'utilisation continue du Service après de tels changements constitue votre consentement à ces changements.</p>
